NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGlyZWN0LXRldHJhLTUzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_catrfeoIRuIZoqgdIp8JL3T5bWQlkCfBlgWt7JAs9Z

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://y1cq7j4e3ao4d9cftmp1:pscale_pw_dPN1bn0BXKvNOarc4C7Vb9Pd7QrQzUfOMCcbf9ZlFmB@aws.connect.psdb.cloud/ai-chatbot?sslaccept=strict'

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dgcyuf83r"

PINECONE_INDEX="chatbot"
PINECONE_ENVIRONMENT="gcp-starter"
PINECONE_API_KEY="7fffe7c1-81fc-4964-8887-b65ca36d1c88"

UPSTASH_REDIS_REST_URL="https://romantic-chicken-43453.upstash.io"
UPSTASH_REDIS_REST_TOKEN="Aam9ASQgMTI3NjVhYTYtYjk0OC00OGVkLThhYzAtNTUzMzcyOTcxMzhmNTk0ZGVlNDRhY2MwNDc3ZmFmNWVmYWFmMWQwYjlkZjY="

OPENAI_API_KEY=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

REPLICATE_API_TOKEN=r8_8vTIgfNO2qoWd3nwbyCLtx6wdw6mnp00zL9pH